
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");

/* Variables */
:root {
    /* Theme Colors */
    --primary-color: #FFF5e8; /* Logo, link colors, text */
    --primary-color-alt: #000000;  /* Form body bg, form headers text */
    --secondary-color: #000000; /* Barely used accent color...combine this and primary-color-alt...? */
    --secondary-color-alt: #C85151; /* Background color */
    --accent-color: #F1BA43; /* Logout, Live button color */
    --accent-color-alt: #F1BA43; /* Dashboard button color NOTE:  Dashboard colors are different across navbar on different pages */
    --disabled-color: #EEEEe8; /* Unsure.... */
    --hover-color: #F1BA43;
    --hover-background-color: #df897f;
    --active-color: rgba(255, 255, 255, 0.5);
    --active-background-color: #5A7A96A0;
    /* Fonts */
    --header-font: 'Titillium Web', sans-serif;
    --text-font: 'Titillium Web', sans-serif;

}


.App {
  background-color: var(--secondary-color-alt);
  min-height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Title {
  font: var(--header-font);
  font-size: 35pt
  
}

.Title-white {
  color: white;
}

.Title-accent {
  color: var(--accent-color);
}



.App-header {
  background-color: var(--secondary-color-alt);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}
